.header {
  text-align: center;
  margin-bottom: 2vmax;

  &__edit-choice {
    display: grid;
    justify-content: end;

    a {
      color: blue;
      text-decoration: underline;
    }
  }
}
.details {
  width: 70vw;
  margin: auto;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  text-align: center;
}
 