<h1>Contact Details</h1>
  <enccrm-modal-card *ngIf="editConceptControls.length > 0">
      <div class="header">
        <div class="header__edit-choice">
          <a [style.color]="'blue'" (click)="editOpen = false" *ngIf="editOpen; else editingHeader">Stop Editing?</a>
          <ng-template #editingHeader> 
            <a [style.color]="'blue'" (click)="editOpen = true">Want to Edit?</a>
          </ng-template>
        </div>
        <h2>{{ contact.contactName }}</h2>
        <h3  
          [innerHTML]="+contact.contactType | display_translator:'contactType':'contact'">
          </h3>
        <h4>{{ contact.description }}</h4>
      </div>
      <div class="details" *ngIf="!editOpen; else editing">
        <div> <b>Email:</b>  {{ contact.email }} </div>
        <div><b>Phone:</b> {{ contact.phone }}</div>
        <div><b>Birth Date:</b> {{ contact.birthDate }}</div>
        <div><b>Other Date:</b> {{ contact.otherDate }}</div>
        <div [innerHTML]="+contact.known | display_translator:'known':'contact'"></div>
        <div [innerHTML]="+contact.priority | display_translator:'priority':'contact'"></div>
        <div [innerHTML]="+contact.energyLevel  | display_translator:'energyLevel':'contact'"></div>
      </div>

      <ng-template #editing>
            <enccrm-form
              [controlsToCreate]="editConceptControls"
              (onSubmit)="submit($event)"
        >
          <div horizontal>Edit {{ contact.contactName }}</div>
        </enccrm-form>
      </ng-template>
  </enccrm-modal-card>


    <enccrm-tab 
      [labels]="['Highlights','Notes','Tasks']">
    <div id="first">
      <ng-container *ngTemplateOutlet="metricTemplate; context: {rating:rating}"></ng-container>
    </div>
    <div id="second">
        <enccrm-table
          *ngIf="notes$ | async as notes; else noNotesData"
          [data]="notes"
          [columns]="['title','noteType','priority','body']"
          [displayNames]="['Title','Type','Priority','Body']"
          [pipesNeeded]="notePipeOptions"
          [pipeType]="'notes'">
        </enccrm-table>
        <ng-template #noNotesData>No Notes Data Yet</ng-template>
    </div>  
    <div id="third">
      <enccrm-table
        *ngIf="tasks$ | async as tasks; else noTaskData"
        [data]="tasks"
        [columns]="['taskName','taskType','priority','description']"
        [displayNames]="['What to Do','Type','Priority','How to Do It']"
        [pipesNeeded]="taskPipeOptions"
        [pipeType]="'task'">
      </enccrm-table>
      <ng-template #noTaskData>No Task Data Yet</ng-template>
    </div>
  </enccrm-tab>


  

