<h1>Contact Details</h1>
  <enccrm-modal-card>
      <div class="header">
        <h2>{{ contact.contactName }}</h2>
        <h3  
          [innerHTML]="+contact.contactType | display_translator:'contactType'">
          </h3>
        <h4>{{ contact.description }}</h4>
      </div>
      <div class="details">
        <div> <b>Email:</b>  {{ contact.email }} </div>
        <div><b>Phone:</b> {{ contact.phone }}</div>
        <div><b>Birth Date:</b> {{ contact.birthdate }}</div>
        <div><b>Other Date:</b> {{ contact.otherDate }}</div>
        <div [innerHTML]="+contact.context | display_translator:'context'"></div>
        <div [innerHTML]="+contact.priority | display_translator:'priority'"></div>
        <div [innerHTML]="+contact.energyLevel  | display_translator:'energyLevel'"></div>
      </div>
  </enccrm-modal-card>

 
  <enccrm-modal-card>
      <enccrm-form
        [controlsToCreate]="editConceptControls"
        (onSubmit)="submit($event)"
    >
       <div horizontal>Edit {{ contact.contactName }}</div>
    </enccrm-form>
  </enccrm-modal-card>
   
  

