.main-container {
  height: 75vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .mat-chip-container {
    margin: 3rem 5rem 3rem 65%;
    width: 100%;
    .mat-chip {
      font-size: 1.3rem;
      font-weight: 500;
      font-family: "Merriweather Sans", sans-serif, "Helvetica Neue", sans-serif;
      width: auto;

      &:active {
        text-decoration: underline;
      }

      &-necessity {
        background-color: rgb(247, 192, 205);
        box-shadow: 10px 5px 5px rgb(168, 44, 141);
      }
      &-level {
        background-color: rgb(192, 247, 217);
        box-shadow: 10px 5px 5px rgb(70, 107, 55);
      }
      &-tag {
        background-color: rgb(240, 209, 170);
        box-shadow: 10px 5px 5px rgb(168, 114, 44);
      }
    }
  }

  .kanban-container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    &__kanban {
      &__header {
        text-transform: uppercase;
        margin: 2rem 3rem;
      }

      &-list {
        width: 100%;
        margin: 0.5rem;
        max-width: 100%;
        max-height: 100%;
        border: solid 0.1rem #ccc;
        min-height: 6rem;
        display: block;
        background: var(--accent-lighter-color);
        border-radius: 0.4rem;
        overflow: hidden;

        &.cdk-drop-list-dragging {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        &__box {
          display: block;
          padding: 2rem 1rem;
          margin: 0.7rem;
          border-bottom: solid 1px #ccc;
          color: rgba(30, 9, 45, 0.87);
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          cursor: move;
          background: white;

          &-header {
            font-size: 1.3vmax;
            margin-bottom: 1vmax;
          }

          &-content {
            &__details {
              font-size: 1vmax;
              width: 100%;
              margin: 0.5vmax auto;
              color: purple;

              &-necessity {
                color: rgb(243, 157, 178);
                font-weight: 600;
              }
              &-level {
                color: rgb(104, 241, 166);
                font-weight: 600;
              }
              &-tag {
                color: rgb(238, 177, 102);
                font-weight: 600;
              }
            }
          }

          &:last-child {
            border: none;
          }

          &.cdk-drop-list-dragging {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }
    }
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .link-text {
    margin-top: 2vmax;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.panel-container {
  border-radius: 3vmax;
  padding: auto;
  height: 100%;
}
