<div class="main-container">
  <div class="mat-chip-container mat-chip-list">
    <mat-chip-list aria-label="Filter Selection">
      <mat-chip class="mat-chip-level" (click)="updateFilter('level')"
        >Level</mat-chip
      >
      <mat-chip class="mat-chip-necessity" (click)="updateFilter('necessity')"
        >Necessity</mat-chip
      >
      <mat-chip class="mat-chip-tag" (click)="updateFilter('tag')"
        >Tag</mat-chip
      >
    </mat-chip-list>
  </div>

  <div class="kanban-container" cdkDropListGroup>
    <div
      class="kanban-container__kanban"
      *ngFor="let header of headers; index as i"
    >
      <div class="kanban-container__kanban__header" sticky>
        {{ headers[i] }}
      </div>
      <div
        cdkDropList
        class="kanban-container__kanban-list"
        (cdkDropListDropped)="drop($event, i)"
        [cdkDropListData]="kanbanFilteredDatasets[i]"
      >
        <div
          class="kanban-container__kanban-list__box"
          *ngFor="let content of kanbanFilteredDatasets[i]"
          cdkDrag
        >
          <div class="kanban-container__kanban-list__box-header">
            {{ content.title }}
          </div>
          <div class="kanban-container__kanban-list__box-content">
            <ul [style.list-style]="'none'">
              <li *ngFor="let boxContent of labels">
                <div
                  class="kanban-container__kanban-list__box-content__details"
                >
                  <ng-container *ngIf="boxContent === 'necessity'">
                    <span
                      class="
                        kanban-container__kanban-list__box-content__details-necessity
                      "
                      >Necessity:
                    </span>
                    {{ translators[0][content[boxContent]] }}
                  </ng-container>
                  <ng-container *ngIf="boxContent === 'level'">
                    <span
                      class="
                        kanban-container__kanban-list__box-content__details-level
                      "
                      >Level:
                    </span>
                    {{ translators[1][content[boxContent]] }}
                  </ng-container>

                  <ng-container *ngIf="boxContent === 'tag'">
                    <span
                      class="
                        kanban-container__kanban-list__box-content__details-tag
                      "
                      >Tag:
                    </span>
                    {{ content[boxContent] !== " " && content[boxContent] }}
                  </ng-container>
                </div>
              </li>
            </ul>
            <div class="link-text">
              <a (click)="openResources(content)">Resources</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
