<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav opened="true" mode="over">
    <div class="profile-photo-container">
      <img src="{{ user.photoURL }}" alt="user photo" />
      <div class="content">
        <h4>Welcome {{ user.displayName }}</h4>
      </div>
    </div>
    <div class="links">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon>contacts</mat-icon>
          <span class="links__header"> Contacts </span>
        </mat-list-item>
        <mat-nav-list style="margin-left: 3vw; margin-top:-2.5vh; ">
          <mat-list-item>
            <a
              [routerLink]="['contacts']"
              routerLinkActive="router-link-active"
              style="margin-bottom:-2vh;"
            >
              <span class="link-text">Contact List</span>
            </a>
          </mat-list-item>
   
          <mat-list-item>
            <a
              [routerLink]="['contacts/contact-add']"
              routerLinkActive="router-link-active"
            >
              <span class="link-text">Add Contact</span>
            </a>
          </mat-list-item>
        </mat-nav-list>
          <!-----Tasks-->
          <mat-list-item>
            <mat-icon>add_task</mat-icon>
            <span class="links__header"> Tasks </span>
          </mat-list-item>
          <mat-nav-list style="margin-left: 3vw; margin-top:-2.5vh; ">
            <mat-list-item>
              <a
                [routerLink]="['task']"
                routerLinkActive="router-link-active"
                style="margin-bottom:-2vh;"
              >
                <span class="link-text">Task List</span>
              </a>
            </mat-list-item>
     
            <mat-list-item>
              <a
                [routerLink]="['task/task-add']"
                routerLinkActive="router-link-active"
              >
                <span class="link-text">Add Task</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        
            <!----Notes-->
            <mat-list-item>
              <mat-icon>text_snippet</mat-icon>
              <span class="links__header"> Notes </span>
            </mat-list-item>
            <mat-nav-list style="margin-left: 3vw; margin-top:-2.5vh; ">
              <mat-list-item>
                <a
                  [routerLink]="['notes']"
                  routerLinkActive="router-link-active"
                  style="margin-bottom:-2vh;"
                >
                  <span class="link-text">Note List</span>
                </a>
              </mat-list-item>
       
              <mat-list-item>
                <a
                  [routerLink]="['notes/note-add']"
                  routerLinkActive="router-link-active"
                >
                  <span class="link-text">Add Note</span>
                </a>
              </mat-list-item>
            </mat-nav-list>
        <mat-list-item>
          <mat-icon>leaderboard</mat-icon>
          <span class="links__header"> Metrics </span>
        </mat-list-item>
        <mat-nav-list style="margin-left: 3vw; margin-top:-2.5vh; ">
          <mat-list-item>
            <a
              [routerLink]="['analytics/dashboard']"
              routerLinkActive="router-link-active"
            >
              <span class="link-text"> Dashboard </span>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
