<ng-container [ngSwitch]="type">
  <button
    *ngSwitchCase="'regular'"
    mat-raised-button
    [ngClass]="{
      reg: size === 'reg',
      small: size === 'small',
      big: size === 'big'
    }"
    (click)="clicked.emit()"
    [disabled]="disabled"
    color="accent"
  >
    <ng-content></ng-content>
  </button>
  <button
    *ngSwitchCase="'cancel'"
    mat-raised-button
    [ngClass]="{
      reg: size === 'reg',
      small: size === 'small',
      big: size === 'big'
    }"
    (click)="clicked.emit()"
    [disabled]="disabled"
    color="warn"
  ></button>
  <button
    *ngSwitchCase="'fab'"
    mat-fab
    color="accent"
    [ngClass]="{
      reg: size === 'reg',
      small: size === 'small',
      big: size === 'big'
    }"
    (click)="clicked.emit()"
    [disabled]="disabled"
  >
    <mat-icon>{{ content }}</mat-icon>
  </button>
  <button
    *ngSwitchCase="'icon'"
    color="accent"
    mat-icon-button
    [ngClass]="{
      'reg-icon': size === 'reg',
      'small-icon': size === 'small',
      'big-icon': size === 'big'
    }"
    (click)="clicked.emit()"
    [disabled]="disabled"
  >
    <mat-icon>{{ content }}</mat-icon>
  </button>
</ng-container>
