.main-container {
    height: 75vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  
    .mat-form-field {
      font-size: 1rem;
      width: 100%;
    }
  
    .filter-buttons {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
    }
    
  
       table {
        width: 100%;
        border-radius: 5%;
        
    
        td,
        th {
          word-wrap: initial;
          display: table-cell;
        //   padding: 0px 5px;
          line-break: unset;
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
          font-size: 1.2rem;
          color: black;
          
       
        }

        td {
            font-size: .9rem;
            text-align: center;
        }
  
  
        tr:nth-child(even) {
          background-color: var(--off-white);
        }
    
        
        tr:hover {
          animation: myfirst 4s 1;
          -webkit-animation: myfirst 4s 1; /* Safari and Chrome */
        }
    
        th {
          text-transform: uppercase;
           background-color: var(--primary-darker-color);
           color: white;
        }
        
      }
    
   
    
  
    
  // }
  
  .table-container {
    height: 40rem;
     overflow: auto;
  }
  
  
    
  
    .filter-options {
      display: flex;
      justify-content: flex-start;
    }
   
  
    @keyframes myfirst {
      0% {
        background: #d8fad5;
        
      }
      25% {
        background: #bef5b9;
        
      }
      75% {
        background: #86c080;
     
      }
      100% {
        background: #d8fad5;
       
      }
    }
    
    .table-link {
      cursor: var(--link-cursor);
    }
  
    a {
      color: rgb(197, 83, 231);
    }
    
    .mat-paginator-container {
      font-size: var(--table-control-font-size);
      border: var(--off-gray);
    }
    
    .mat-paginator-container {
      font-size: var(--table-control-font-size);
      border: black;
    }
    
    .noDataFilter {
      text-align: center;
      margin-top: 10%;
    }
   }
  
   