$header-button-width: 2.5rem;

@mixin mat-forms {
  ::ng-deep .mat-form-field {
    width: 100%;
    height: auto;

    .mat-input-element {
      color: rgb(80, 71, 77);

      line-height: normal !important;
    }
    .mat-form-field-label {
      color: rgb(80, 71, 77);
      margin-bottom: 1.5rem;
    }
    .mat-form-field-underline {
      background-color: rgb(80, 71, 77);
    }
    .mat-form-field-ripple {
      background-color: rgb(80, 71, 77);
    }
    .mat-form-field-required-marker {
      color: rgb(80, 71, 77);
    }
  }

  ::ng-deep
    mat-form-field.mat-form-field-appearance-outline
    .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: #5a0956;
    }
    .mat-form-field-ripple {
      background-color: #5a0956;
    }
    .mat-form-field-required-marker {
      color: #5a0956;
    }
    .mat-input-element {
      color: #5a0956;
      margin-bottom: 1rem;
    }
  }

  ::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
      color: #ff33cc;
    }
    .mat-form-field-label {
      color: #ff33cc;
      .mat-form-field-required-marker {
        color: #ff33cc;
      }
    }
    .mat-form-field-ripple {
      background-color: #ff33cc;
    }
  }
}

@mixin big-mat-forms {
  ::ng-deep .mat-form-field {
    width: 10vmax;
    height: auto;

    .mat-input-element {
      color: rgb(80, 71, 77);

      line-height: normal !important;
    }
    .mat-form-field-label {
      color: rgb(80, 71, 77);
      margin-bottom: 1.5rem;
    }
    .mat-form-field-underline {
      background-color: rgb(80, 71, 77);
    }
    .mat-form-field-ripple {
      background-color: rgb(80, 71, 77);
    }
    .mat-form-field-required-marker {
      color: rgb(80, 71, 77);
    }
  }

  ::ng-deep
    mat-form-field.mat-form-field-appearance-outline
    .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: #5a0956;
    }
    .mat-form-field-ripple {
      background-color: #5a0956;
    }
    .mat-form-field-required-marker {
      color: #5a0956;
    }
    .mat-input-element {
      color: #5a0956;
      margin-bottom: 1rem;
    }
  }

  ::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
      color: #ff33cc;
    }
    .mat-form-field-label {
      color: #ff33cc;
      .mat-form-field-required-marker {
        color: #ff33cc;
      }
    }
    .mat-form-field-ripple {
      background-color: #ff33cc;
    }
  }
}

@mixin small-button {
  width: $header-button-width;
  margin: $header-button-margin;
  background-color: blue;
  color: darkslategrey;
}

@mixin reg-button {
  width: calc(#{$header-button-width} * 4);
  margin: $header-button-margin;
  color: darkslategrey;
  background-color: blue;
}

@mixin big-button {
  width: calc(#{$header-button-width} * 8);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  margin: $header-button-margin;
  color: darkslategrey;
  background-color: rgb(222, 222, 236);
}

@mixin small-button-icon {
  width: $header-button-width;
  margin: $header-button-margin;
  color: darkslategrey;
}

@mixin reg-button-icon {
  width: calc(#{$header-button-width} * 2.5);
  margin: $header-button-margin;
  color: darkslategrey;
}

@mixin big-button-icon {
  width: calc(#{$header-button-width} * 4);
  margin: $header-button-margin;
  color: darkslategrey;
}

@mixin center-element {
  margin: auto;
  width: 10rem;
}

@mixin card-shadow {
  // box-shadow: 0 2rem 4rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
}
