<h1>Task Details</h1>
  <enccrm-modal-card *ngIf="editConceptControls.length > 0">
      <div class="header">
        <div class="header__edit-choice">
          <a [style.color]="'blue'" (click)="editOpen = false" *ngIf="editOpen; else editingHeader">Stop Editing?</a>
          <ng-template #editingHeader> 
            <a [style.color]="'blue'" (click)="editOpen = true">Want to Edit?</a>
          </ng-template>
        </div>
        <h2>{{ task.taskName }}</h2>
        <h3 [innerHTML]="+task.taskType | display_translator:'taskType':'task'"></h3>
        <h3 [innerHTML]="+task.priority | display_translator:'priority':'task'"></h3>
      </div>
      <div class="details" *ngIf="!editOpen; else editing">
        {{ task.description }}
      </div>

      <ng-template #editing>
            <enccrm-form
              [controlsToCreate]="editConceptControls"
              (onSubmit)="submit($event)"
        >
          <div horizontal>Edit {{ task.taskName }}</div>
        </enccrm-form>
      </ng-template>
  </enccrm-modal-card>

  

 