.parent-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  &__background-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 80%;
    top: 0;
    left: 0;
    z-index: -1000;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__context {
    position: absolute;
    top: 30%;
    left: 28%;
    z-index: 1000;
    font-family: "Akaya Kanadaka", cursive;
    font-family: "Merriweather", serif;
    font-family: "Viaoda Libre", cursive;
    font-size: 4vmax;
    color: whitesmoke;
    z-index: 100;
  }

  &__login-button {
    position: absolute;
    top: 85%;
    left: 45%;
    z-index: 1000;
  }
}
