@import "../../../styles/main";

.edit__container {
  margin-top: 3rem;

  &__header {
    font-size: 1.5vmax;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    font-family: "Merriweather Sans", sans-serif;
    color: var(--text-primary-color);
    a {
      font-size: 0.7rem;
    }
  }

  &__horiz-content {
    ::ng-deep .mat-form-field {
      display: flex;
      justify-content: space-evenly;
      margin: 1rem;
      height: auto;
      font-size: 1rem;
    }
  }

  &__vert-content {
    ::ng-deep .mat-form-field {
      height: auto;
      font-size: 1rem;
    }
  }

  &__buttons {
    width: 25rem;
    margin: auto;

    width: 40%;
  }
  .med {
    width: 30%;
  }
  .small {
    width: 15%;
  }
}

input {
  width: 10rem;
}

.mat-form-field textarea {
  height: 100%;
  width: 100%;
}

.link-text {
  font-size: 0.7rem;
  color: rgb(74, 74, 163);
}
