<div class="dashboard-container">
      <mat-card [class.mat-elevation-z8]="true" class="standard-metric grid1">
        <mat-card-header
        ><mat-card-title>Highlights</mat-card-title>
        </mat-card-header>
        <div *ngIf="mostImportantFriend; else noStandardData">
          <div class="standard-metric-container">
                <ng-container 
                *ngTemplateOutlet="standardMetricFormat; context:{header: 'Highest Rated Contact', metric:highestRatedContact && highestRatedContact.contactName}">
              </ng-container>
              <ng-container 
                *ngTemplateOutlet="standardMetricFormat; context:{header: 'Lowest Rated Contact', metric:lowestRatedContact && lowestRatedContact.contactName}">
              </ng-container>
          </div>
          <div class="standard-metric-container">
                <ng-container 
                *ngTemplateOutlet="standardMetricFormat; context:{header: 'Closest Family Member', metric:highestRatedFamilyMember && highestRatedFamilyMember.contactName}">
              </ng-container>
              <ng-container 
                *ngTemplateOutlet="standardMetricFormat; context:{header: 'Most Distant Family Member', metric:mostDistantFamilyMember && mostDistantFamilyMember.contactName}">
              </ng-container>
          </div>
          <div class="standard-metric-container">
                <ng-container 
                *ngTemplateOutlet="standardMetricFormat; context:{header: 'Closest Friend', metric:mostImportantFriend && mostImportantFriend.contactName}">
              </ng-container>
              <ng-container 
                *ngTemplateOutlet="standardMetricFormat; context:{header: 'Most Distant Friend', metric:mostDistantFriend && mostDistantFriend.contactName}">
              </ng-container>
          </div>
          <div class="standard-metric-container">
            <ng-container 
            *ngTemplateOutlet="standardMetricFormat; context:{header: 'Most Friend Rich Environement', metric:topEnvironment && topEnvironment}">
          </ng-container>
          </div>
        </div>

        <ng-template #noStandardData>No Data Yet</ng-template>
      </mat-card>

    <mat-card [class.mat-elevation-z8]="true" class="pie grid2">
      <mat-card-header
        ><mat-card-title>Contact Distribution</mat-card-title></mat-card-header
      >
      <div
        class="card-container"
        *ngIf="contacts && contacts.length > 0; else noPieData"
      >
        <div
          class="card-container__graph-container"
          fxLayout="row"
          fxAlign="center center"
        >
        <canvas baseChart 
        height="100"
        width="100"
        [data]="pieData" 
        [labels]="pieLabels" 
        [chartType]="pieType"
        [options]="pieOptions"
        [colors]="chartColors"
        [legend]="pieLegend"> 
    </canvas>
        
        </div>
      </div>
      <ng-template #noPieData>
        <div class="no-data">
          <h1>Sorry. No Data to Measure yet.</h1>
        </div>
      </ng-template>
    </mat-card>
    <mat-card [class.mat-elevation-z8]="true" class="bar grid3">
      <mat-card-header
        ><mat-card-title>Contact Volume</mat-card-title></mat-card-header
      >
      <div class="card-container">
        <div
          class="card-container__bar-graph-container"
          *ngIf="
            contacts && contacts.length > 0;
            else noBarData
          "
        >
        <canvas 
            baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [legend]="barChartLegend"
            [colors]="chartColors"
            [chartType]="barChartType">
       </canvas>
       
        </div>
        <ng-template #noBarData>
          <div class="no-data">
            <h1>Sorry. No Data to Measure yet.</h1>
          </div>
        </ng-template>
      </div>
    </mat-card>
  </div>
  

  <ng-template #standardMetricFormat let-header="header" let-metric="metric">
    <div class="standard-metric">
      <h4>{{header}}</h4>
      <h5>{{metric}}</h5>
    </div>
  </ng-template>