@import url("../../../../styles/_mixins.scss");

mat-card {
  background-color: white;
  width: 80vmax;
  border-radius: 0.7vmax;
  height: auto;

  transition: 0.3s;

  &:hover {
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
}
